.navnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 0 0 10px 10px ;
}


.header_pres {
    margin: 100px auto 30px; 
    width: 1500px;
}

.header_title {
    text-align: center;
    font-size: 2.5em;
}
.header_text {
    margin: 5px;
    text-align: center;
    font-size: 1.2em;
}

.tags_title--home {
    text-align: center;
    width: 180px;
    font-size: 1.3em;
    background-color: lightblue;
    margin: 10px auto ;
    padding: 3px;
    border-radius: 4px;
}


#main_div {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.div_flex {
    width: 300px;
    height: 200px;
    border: 2px solid lightgrey;
    margin: 50px;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-bottom: 100px;
}

.row {
    margin: auto;
    width: 200px;
    text-align: center;
    margin-top: 50px;
}

.col {
    transition: font-size 1s;
}

.col:hover {
    font-size: 1.04em;
}

.nav_title {
    font-weight: bold;
    color: white;
}


.signin {
    width: 350px;
    margin: 200px auto;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 2s;
}
.signin:hover {
    background-color: lightgray;
}


.signup {
    width: 350px;
    margin: 200px auto;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 2s;
}
.signup:hover {
    background-color: lightgray;
}

.control.has-icons-left .input, .control.has-icons-left .select select {
    padding-left: 7px;
}

a {
    color: #4a4a4a;
}

.header__quiz{
    padding: 10px;
}
.header__quiz--container{
    padding: 3px;
}

.tag__color {
    width: 110px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.quiz_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#div_flex--quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 50px;
}

#div_text--quiz {
  text-align: center;
  margin-top: 100px;
}

.question {
    border: 2px solid lightgray;
    padding: 20px;
    margin: 5px 30px;
    width: 500px;
    height: 240px;
    border-radius: 4px;
}

.question__info {
    font-size: 0.8em;
    text-align: center;
}

.question__choices {
    margin-top: 20px;
}

.btn_div {
    margin: 30px 48.3% 200px;
    width: 50px;
    height: 30px;
}
.btn {
    border: none;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
    color: #4a4a4a;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: lightgrey;
    padding: 15px;
    color: #4a4a4a;
}

.div__tags--title {
    margin: 150px 0 60px 0;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

.div__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div__tags--container {
    padding: 7px;
    margin: 5px;
    border-radius: 4px;
    color: white;
    transition: font-size 0.5s;
}
.div__tags--container:hover {
    font-size: 1.1em;
}

