.navnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 0 0 20px 20px ;
    width: 1400px;
    margin: auto;
}


.header_pres {
    margin: 100px auto 30px; 
    width: 1500px;
}

.header_title {
    text-align: center;
    font-size: 2.5em;
}
.header_text {
    margin: 5px;
    text-align: center;
    font-size: 1.2em;
}

.tags_title--home {
    text-align: center;
    width: 180px;
    font-size: 1.3em;
    background-color: lightblue;
    margin: 10px auto ;
    padding: 3px;
    border-radius: 4px;
    transition: background-color 0.5s;
}
.tags_title--home:hover {
    background-color: rgb(163, 175, 179);
   
}


#main_div {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.div_flex {
    width: 300px;
    height: 200px;
    border: 2px solid lightgrey;
    margin: 50px;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-bottom: 100px;
}

.row {
    margin: auto;
    width: 200px;
    text-align: center;
    margin-top: 50px;
}

.col {
    transition: font-size 1s;
}

.col:hover {
    font-size: 1.04em;
}

.nav_title {
    font-weight: bold;
    color: white;
}

.form__title {
    text-align: center;
    font-size: 1.4em;
    margin: 0 0 13px;
}
.signin {
    width: 350px;
    margin: 200px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: lightgray;
    transition: background-color 0.8s;
}
.signin:hover {
    background-color: rgb(180, 180, 180);
}
.signin_add--signup {
    font-size: 0.8em;
    margin-left: 73%;
}


.signup {
    width: 350px;
    margin: 120px auto 0;
    padding: 20px;
    border-radius: 5px;
    background-color: lightgray;
    transition: background-color 0.8s;
}
.signup:hover {
    background-color: rgb(163, 162, 162);
}

.control.has-icons-left .input, .control.has-icons-left .select select {
    padding-left: 7px;
}


a {
    color: #4a4a4a;
}

.header__quiz{
    padding: 10px;
}
.header__quiz--container{
    padding: 3px;
}

.tag__color {
    width: 110px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.quiz_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#div_flex--quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 50px;
}

#div_text--quiz {
  text-align: center;
  margin-top: 100px;
}

.question {
    border: 2px solid lightgray;
    padding: 20px;
    margin: 5px 30px;
    width: 500px;
    height: 240px;
    border-radius: 4px;
    background-color: white;
}

.question__info {
    font-size: 0.8em;
    text-align: center;
}

.question__choices {
    margin-top: 20px;
}

.btn_div {
    margin: 30px 48.3% 200px;
    width: 50px;
    height: 30px;
}
.btn {
    border: none;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
    color: #4a4a4a;
}

.footer {
    background-color: lightgrey;
    padding: 15px;
    color: #4a4a4a;
}

.div__tags--title {
    margin: 150px 0 35px 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.div__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.h3__tagquizzes {
    font-size: 1.4em;
    margin: 50px;
}

.div__tags--container {
    width: 200px;
    padding: 15px 0 15px;
    margin: 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 1.4em;
    color: white;
    transition: font-size 0.5s;
}
.div__tags--container:hover {
    font-size: 1.1em;
}

.danger {
    color: #8a3d45;
    background-color: #F8D7DA;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.succes {
    color: #3c7549;
    background-color: #D4EDDA;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.account__div {
    margin: 150px auto;
    width: 700px;
    background-color: lightgray;
    border-radius: 12px 12px 5px 5px;
    padding: 15px
}

.account__nav {
    display: flex;
    justify-content: center;
    
}

.account_title {
    font-size: 2em;
    text-align: center;
    margin: 10px 0 0 0;
}

.span__user {
    font-weight: bold;
    color: #3c7549;
}

.account__text {
    margin: 5px 0 15px;
    font-size: 0.9em;
    transition: font-size 0.5s;
    font-weight: 500;
}

.account__text:hover {
    font-size: 1em;
}

.user__information {
    text-align: center;
    margin: 5px 0 20px;
    background-color: #B5B5B5;
    width: 350px;
    margin: auto;
    padding: 15px;
    border-radius: 2px;
}
.user__params {
    
    text-align: center;
    margin: 5px 0 20px;
    background-color: #B5B5B5;
    width: 350px;
    margin: auto;
    padding: 15px;
    border-radius: 2px;
}

.error__msg {
    width: 320px;
    margin: auto;
}






















































































/* MA 404 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.bodydy {
  font-family: 'Open Sans';
  padding: 0;
  margin: 0;
}



* {
  paading: 0;
  margin: 0;
}

#oopss {
  background: #222;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 9999;
  left: 0px;
}

#error-text {
  top: 30%;
  position: relative;
  font-size: 40px;
  color: #eee;
}

#error-text a {
  color: #eee;
}

#error-text a:hover {
  color: #fff;
}

#error-text p {
  color: #eee;
  margin: 70px 0 0 0;
}

#error-text i {
  margin-left: 10px;
}

#error-text p.hmpg {
  margin: 40px 0 0 0;
}

#error-text span {
  position: relative;
  background: #ef4824;
  color: #fff;
  font-size: 300%;
  padding: 0 20px;
  border-radius: 5px;
  font-weight: bolder;
  transition: all .5s;
  cursor: pointer;
  margin: 0 0 40px 0;
}

#error-text span:hover {
  background: #d7401f;
  color: #fff;
  -webkit-animation: jelly .5s;
  -moz-animation: jelly .5s;
  -ms-animation: jelly .5s;
  -o-animation: jelly .5s;
  animation: jelly .5s;
}

#error-text span:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ef4824;
  border-width: 7px;
  margin-left: -7px;
}

@-webkit-keyframes jelly {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(.9, 1.1);
    transform: scale(.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, .9);
    transform: scale(1.1, .9);
  }
  75% {
    -webkit-transform: scale(.95, 1.05);
    transform: scale(.95, 1.05);
  }
}

@keyframes jelly {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(.9, 1.1);
    transform: scale(.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, .9);
    transform: scale(1.1, .9);
  }
  75% {
    -webkit-transform: scale(.95, 1.05);
    transform: scale(.95, 1.05);
  }
}
/* CSS Error Page Responsive */

@media only screen and (max-width:640px) {
  #error-text span {
    font-size: 200%;
  }
  #error-text a:hover {
    color: #fff;
  }
}

.back:active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  transform: scale(0.95);
  background: #f53b3b;
  color: #fff;
}

.back:hover {
  background: #4c4c4c;
  color: #fff;
}

.back {
  text-decoration: none;
  background: #5b5a5a;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s ease-out;
}



























/* BACKGROUND-COLOR */


html, body { 
    min-height: 100%; 
  }
  html {
    background: #92c7d6;
    background-image: -webkit-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: -moz-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: -o-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: radial-gradient(top, circle cover, #97d0e1, #427388 80%);
  }



  